.silkscreen-regular h1
{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem ;
}

.silkscreen-regular h2
{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem ;
}

.silkscreen-regular p
{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.35rem;
}

.silkscreen-bold
{
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body
{
  background-color: #FDFD96;
}

.container
{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}

.egg-btn
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FDFD96;
  border: none;
  padding: 5px;
}

.egg-btn img
{
  width: 200px;
  height: 260px;
  object-fit: contain;
}

.half-btn img
{
  padding: 20px;
}

.medium-btn img
{
  padding: 30px;
}

.egg-btn p
{
  position: relative;
  margin: 0;
  margin-top: 8px;
}

.button-grid
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
  justify-content: center;
  place-items: center;
}


#selection-view
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#detail-view, #timer-view
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
}

#detail-view button
{
  margin: 10px;
  background-color: #FDFD96;
  border: none;
}

#egg-description
{
  text-align: center;
  padding: 20px;
}

#timer-view button
{
  margin: 10px;
  background-color: #FDFD96;
  border: none;
}

#timer-image
{
  padding: 20px;
  width: 500px;
  height: 30%;
}

#egg-image img
{
  width: 200px;
  height: 260px;
}

#ready-view
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#ready-view button
{
  background-color: #FDFD96;
  border: none;
}

#ready-image img
{
  width: 200px;
  height: 260px;
}

@media (max-width: 768px)
{
  .silkscreen-regular h1
  {
    font-size: 1.7rem;
  }

  .silkscreen-regular p
  {
    font-size: 1.4rem;
  }

  .container button
  {
    color: black !important;
  }

  .egg-btn img
  {
    width: 170px;
    height: 170px;
  }

  .half-btn img
  {
    padding: 20px;
  }

  .medium-btn img
  {
    padding: 30px;
  }

  #egg-description
  {
    font-size: 1.4rem;
    padding: 10px;
  }

  #timer-image
  {
    width: 90%;
    height: 30%;
  }
}